/* app css stylesheet */

body {
  margin: 1em  2em;
  max-width: 800px;
}

h1 { font-size: 3.15em; }

h1, h2, h3 { margin: 0 auto; }

.weather-img {
  float: right;
  height: 100px;
  width: 100px;
  margin: 0em 1em;
}

.json-response {
  background-color: lightgray;
  border: 1px solid grey;
  padding: 1em 1em;
}

@media (max-width:470px) {
  h1 { font-size: 2.25em;}
}